$ff: "Segoe UI", sans-serif;

$paragraph: #474747;
$search: #e6e6e6;
$text: #666666;
$grid: #f6f7fd;
$primary: #4579cb;
$footer: #306ece;

$dark: #232323;
$darkunderline: #cacaca;
$darkcontainer: #2f2f2f;
$darkgrid: #121212;
$darksearch: #262626;
$darkfooter: #272727;

$sun: #f9c23c;

$white: #ffffff;
$black: #000;

$grey: #d9d9d9;
$darkgrey: #6c6c6c;
$darkpurple: #1c1b1f;

$transition: 0.3s all ease-in-out;

$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

$container: 1210px;
