.footer {
  width: 100%;
  background: $primary;
}
.column-wrapper {
  display: flex;
  padding: 0 0 40px;
  justify-content: space-between;
  @include tablet {
    justify-content: space-around;
  }
  @include tablet-small {
    justify-content: space-between;
  }
  .column-primary {
    &__logo {
      @include text($ff, 2.6rem, 4.8rem, 700, $white);
      margin: 28px 0 31px;
    }

    &__desc {
      @include text($ff, 1.6rem, 2.4rem, 400, $white);
      max-width: 278px;
      @include tablet {
        display: none;
      }
    }
  }
  .column-add {
    display: flex;
    flex-direction: column;
    @include tablet {
      display: none;
    }
    &__title {
      @include text($ff, 2rem, 2.8rem, 700, $white);
      margin: 44px 0 31px;
      margin-bottom: 31px;
      // display: flex;
      // justify-content: center;
    }

    &__desc {
      @include text($ff, 1.4rem, 2.4rem, 400, $white);
      margin-bottom: 8px;
    }
  }
  .column-secondary {
    @include tablet {
      display: flex;
    }
    &__title {
      @include text($ff, 2rem, 2.8rem, 700, $white);
      margin: 44px 0 30px;
      @include tablet {
        display: none;
      }
    }

    &__desc {
      display: flex;
      flex-direction: column;
      @include tablet {
        flex-direction: row;
        align-items: center;
        gap: 20px;
      }
      span {
        @include text($ff, 1.4rem, 2.4rem, 400, $white);
        @include tablet-small {
          display: none;
        }
      }
      // a {
      //   display: flex;
      //   gap: 17px;
      //   margin-bottom: 8px;
      //   @include tablet-small {
      //     display: none;
      //   }
      // }
      .mail,
      .phone,
      .location {
        display: flex;
        gap: 17px;
        margin-bottom: 8px;
        @include tablet-small {
          display: none;
        }
        img {
          width: 17px;
          @include tablet-small {
            display: none;
          }
        }
      }
    }
    &__soc {
      margin-top: 32px;
      display: flex;
      gap: 18px;
      @include tablet {
        margin-top: 0;
      }
    }
  }
}
.footer-ender {
  background: $footer;
  width: 100%;
  min-height: 80px;
  @include tablet-small {
    display: none;
  }
}

.theme__dark {
  .footer,
  .footer-ender {
    background-color: $darkfooter;
  }
}
