.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 11.7rem;
  &__info {
    max-width: 1047px;
    margin-bottom: 3.8rem;
    @include text($ff, 5.6rem, 7.8rem, 700, $paragraph);
    text-align: center;
    letter-spacing: 0.02em;
    span {
      @include text($ff, 5.6rem, 7.8rem, 700, $primary);
    }
  }

  &__desc {
    max-width: 828px;
    @include text($ff, 1.6rem, 2.4rem, 400, $text);
    text-align: center;
    margin-bottom: 3.8rem;
  }

  &__video {
    margin-top: 2.1rem;
    display: flex;
    gap: 1.1rem;
    align-items: center;
    span {
      @include text($ff, 1.4rem, 2.4rem, 400, $text);
      border-bottom: 1px solid $darkunderline;
    }
  }
}
.theme__dark {
  .main-section__info {
    color: $white;
  }
  .main-section__desc {
    color: $white;
  }
  .main-section__video span {
    color: $white;
  }
}
